* {
  font-family: sans-serif;
;
}
.row-1 {
  height: 100px;
  width: 1280px;
  background-color: #00BCD4;
}
.row-2 {
  height: 300px;
  width: 1280px;
  background-color: #00a5bb;


}

.calendar{
  width:1000px;
}



.row-3 {
  height: 80px;
  width: 1280px;
  background-color: #008fa1;


  text-align: center;
}

.btn-1 {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  background-color: #008fa1;

  color: white;
  border:1px solid #00BCD4;
  padding: 5px 10px;
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}

.btn-1:hover{
  background-color: #00BCD4;
}

.icons-top {
  margin-left: 15px;
  margin-top: 10px;
  color: white;
}

.fa-gi{
  color: white !important;
}

.card-title{
  color: teal;
  font-family:mistral
}

.card-text{
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
}

.fa-github{
  color: teal;
}

.stack-text{
  margin-top: 7px;
  color: rgb(57, 117, 156);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.my-image {
  height: 140px;
  width: 140px;
  border-radius: 70px;
  padding: 5px;
  border: 3px solid white;
  position: absolute;
  top: -70px;
  left: 550px;
}

.main {
  position: relative;
}

/* .title {
  color: rgb(255, 247, 247);
  margin-top: 90px;
  text-align: center;
  font-weight: 500;
  
} */


.title {
  margin-top: 90px;
  margin-left: 465px;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 40px;
  color: white;
}

/* Animation */
.title {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end);
             animation-iteration-count: infinite;

}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.fsd {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

.about {
  text-align: center;
  color: white;
  max-width: 700px;
  margin-left: 280px;
}

.contact {
  margin-left: 25px;
  color: white;
  margin-top: 30px;
}

.fa-border-icon {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  border-radius: 50% 50% 50% 50%;
  padding: 1% 1% 1% 1%;
}

.fa-color {
  color: rgb(70, 152, 206);
}

.tech-stacks {
  color: rgb(43, 42, 42);
  text-align: center;
  color: rgb(105, 200, 231);
  text-shadow: 2px 2px 4px #000000;
}

.icons-allign {
  margin-left: 150px;
}

.stack-names {
  margin-left: 8px;
  color: teal;
  font-family: cursive;
  font-weight: bold;
}
.java {
  color: teal;
  font-family: cursive;
  font-weight: bold;
}
.bg {
  background-color: #70b2d9;
background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
  
}

.counter-up{
  width:1300px;
  margin-left: 10px;
}

/* counter */

.container-counter {
  padding-top: 30px;
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
  height: 250px;
}

header {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 40px;
}

.counters {
  background: white;
  color: #fff;
  padding: 40px 20px;
}

.counters .container-counter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.counters i {
  color: white
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 30px;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .counters .container-counter {
    grid-template-columns: repeat(2, 1fr);
  }

  .counters .container-counter > div:nth-of-type(1),
  .counters .container-counter > div:nth-of-type(2) {
    border-bottom: 1px lightskyblue solid;
    padding-bottom: 20px;
  }
}

.image-pro{
  height: 200px;
  width: 430px;
  margin: 0%;
  border:1px dashed teal
}


div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 140px;
}

